name: Tests

on: [ push, pull_request ]

jobs:

    test:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: true
            matrix:
                php: [ "8.2", "8.3", "8.4", "8.5" ]

        name: PHP ${{ matrix.php }}

        steps:
            -   name: Checkout code
                uses: actions/checkout@v6

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd
                    coverage: xdebug

            -   name: Install dependencies for ${{ matrix.php }}
                if: matrix.php != '8.5'
                run: composer install --prefer-dist --no-progress --no-interaction --no-suggest

            -   name: Install dependencies for ${{ matrix.php }}
                if: matrix.php == '8.5'
                run: composer update --prefer-dist --no-progress --no-interaction

            -   name: Execute tests
                run: composer test
